---

---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
</div>

<style>
    .expanded {
        display: unset;
    }

    .nav-links {
        width: 100%;
        top: 5rem;
        left: 48px;
        background-color: var(--brand-color);
        display: none;
        margin: 0;
        & > a {
            display: block;
            text-align: center;
            padding: 10px 0;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            &:hover,
            &:focus {
                background-color: var(--brand-color);
            }
        }

        @media screen and (min-width: 636px) {
            margin-left: 5em;
            display: block;
            position: static;
            width: auto;
            background: none;
            & > a {
                display: inline-block;
                padding: 15px 20px;
            }
        }
    }
</style>
