---
import 'open-props/postcss/style'

/* optional imports that use the props */
import 'open-props/postcss/normalize'
import 'open-props/postcss/buttons'

// import { ViewTransitions } from 'astro:transitions'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

const { pageTitle } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <!-- <ViewTransitions /> -->
    </head>
    <body>
        <Header />
        <h1>{pageTitle}</h1>
        <slot />
        <Footer />

        <style>
            html {
                --light-bg-color: var(--gray-1);
                --dark-bg-color: var(--gray-12);
                --dark-theme-color: var(--gray-0);
                --bg-color: var(--light-bg-color);
                --color-primary: var(--dark-bg-color);

                background-color: var(--bg-color);

                font-family: var(--font-sans);
            }

            body {
                --brand-color: var(--blue-6);

                & > a {
                    color: var(--color-primary);
                    text-decoration: solid underline var(--brand-color) 4px;
                }
                display: grid;
                justify-items: stretch;
                justify-content: center;
                align-items: start;

                /* grid-template: auto auto 1fr auto / 1fr; */

                & > h1 {
                    margin: 1rem 0;
                    font-size: var(--font-size-3);
                    border: 1px solid black;
                }
            }

            html.dark {
                background-color: var(--dark-bg-color);
                --color-primary: var(--dark-theme-color);
                color: var(--color-primary);
            }
        </style>
    </body>
</html>
